{% extends "base.html" %}
{% block content %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">{{product.category}}</h1>
      </div>
  </div>
</header>

<body>
  <!-- بخش محصول-->
  <section class="py-5">
      <div class="container px-4 px-lg-5 my-5">
          <div class="row gx-4 gx-lg-5 align-items-center">
              <div class="col-md-5"><img class="card-img-top mb-5 mb-md-0" src="{{product.image.url}}" alt="{{product.name}}" /></div>
              <div class="col-md-5">
                  <h1 class="display-5 fw-bolder">{{product.name}}</h1>
                  <div class="fs-5 mb-5">
                      <span>{{product.price}} ریال</span>
                  </div>
                  <p class="lead">{{product.description}}</p>
                  <div class="d-flex">
                      <input class="form-control text-center me-3" id="inputQuantity" type="number" value="1" style="max-width: 3rem" />
                      <button class="btn btn-outline-dark flex-shrink-0" type="button">
                          <i class="bi-cart-fill me-1"></i>
                          افزودن به سبد خرید
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- بخش محصولات مرتبط-->
  <section class="py-5 bg-light">
      <div class="container px-4 px-lg-5 mt-5">
          <h2 class="fw-bolder mb-4">محصولات مرتبط</h2>
          <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
              <!-- نمونه محصول 1-->
              <div class="col mb-5">
                  <div class="card h-100">
                      <!-- تصویر محصول-->
                      <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                      <!-- جزئیات محصول-->
                      <div class="card-body p-4">
                          <div class="text-center">
                              <!-- نام محصول-->
                              <h5 class="fw-bolder">محصول شیک</h5>
                              <!-- قیمت محصول-->
                              $40.00 - $80.00
                          </div>
                      </div>
                      <!-- عمل‌ها بر روی محصول-->
                      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                          <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">مشاهده گزینه‌ها</a></div>
                      </div>
                  </div>
              </div>
              <!-- نمونه محصول 2-->
              <div class="col mb-5">
                  <div class="card h-100">
                      <!-- برچسب فروش-->
                      <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">فروش</div>
                      <!-- تصویر محصول-->
                      <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                      <!-- جزئیات محصول-->
                      <div class="card-body p-4">
                          <div class="text-center">
                              <!-- نام محصول-->
                              <h5 class="fw-bolder">مورد ویژه</h5>
                              <!-- نظرات محصول-->
                              <div class="d-flex justify-content-center small text-warning mb-2">
                                  <div class="bi-star-fill"></div>
                                  <div class="bi-star-fill"></div>
                                  <div class="bi-star-fill"></div>
                                  <div class="bi-star-fill"></div>
                                  <div class="bi-star-fill"></div>
                              </div>
                              <!-- قیمت محصول-->
                              <span class="text-muted text-decoration-line-through">$20.00</span>
                              $18.00
                          </div>
                      </div>
                      <!-- عمل‌ها بر روی محصول-->
                      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                          <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">افزودن به سبد خرید</a></div>
                      </div>
                  </div>
              </div>
              <!-- نمونه محصول 3-->
              <div class="col mb-5">
                  <div class="card h-100">
                      <!-- برچسب فروش-->
                      <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">فروش</div>
                      <!-- تصویر محصول-->
                      <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                      <!-- جزئیات محصول-->
                      <div class="card-body p-4">
                          <div class="text-center">
                              <!-- نام محصول-->
                              <h5 class="fw-bolder">مورد فروش</h5>
                              <!-- قیمت محصول-->
                              <span class="text-muted text-decoration-line-through">$50.00</span>
                              $25.00
                          </div>
                      </div>
                      <!-- عمل‌ها بر روی محصول-->
                      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                          <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">افزودن به سبد خرید</a></div>
                      </div>
                  </div>
              </div>
              <!-- نمونه محصول 4-->
              <div class="col mb-5">
                  <div class="card h-100">
                      <!-- تصویر محصول-->
                      <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                      <!-- جزئیات محصول-->
                      <div class="card-body p-4">
                          <div class="text-center">
                              <!-- نام محصول-->
                              <h5 class="fw-bolder">محصول محبوب</h5>
                              <!-- نظرات محصول-->
                              <div class="d-flex justify-content-center small text-warning mb-2">
                                  <div class="bi-star-fill"></div>
                                  <div class="bi-star-fill"></div>
                                  <div class="bi-star-fill"></div>
                                  <div class="bi-star-fill"></div>
                                  <div class="bi-star-fill"></div>
                              </div>
                              <!-- قیمت محصول-->
                              $40.00
                          </div>
                      </div>
                      <!-- عمل‌ها بر روی محصول-->
                      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                          <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">افزودن به سبد خرید</a></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- فوتر-->
  <footer class="py-5 bg-dark">
      <div class="container"><p class="m-0 text-center text-white">حقوق نشر &copy; وب‌سایت شما 2023</p></div>
  </footer>
  <!-- JS اصلی بوت‌استرپ-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- JS اصلی قالب-->
  <script src="js/scripts.js"></script>
</body>
</html>
{% endblock content %}
